{% extends "home_pages/base.html" %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<section class="text-center container text-white">
    {% if user.is_superuser %}
    <h1 class="fw-light">{{ greeting }}, {{ user.first_name | default:user.email }}!</h1>
    <section class="py-3 text-center container text-white">
        <div class="d-flex justify-content-center gap-3">
            <div class="col-sm-2">
                <label for="date_application" class="form-label">Дата:</label>
                {% now "d.m.Y" as current_date %}
                <div class="form-control" id="date_application" style="text-align: center;">{{ current_date }}</div>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-sm-2">
                <label for="time_application" class="form-label">Время:</label>
                {% now "H:i" as current_time %}
                <div class="form-control" id="time_application" style="text-align: center;">{{ current_time }}</div>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
        </div>
    </section>
    {% elif user.is_authenticated %}
        <h1 class="fw-light">{{ greeting }}, {{ user.first_name | default:user.email }}</h1>
            <hr class="my-4">
        <h1 class="fw-light">Проверь свою статистику.</h1>
    {% else %}
        <h1 class="display-6">Сервис Управления и Контроля за Командой.</h1>
        <p class="lead">С. У. К. К. - Это отличное место для управления и контроля за Командой.</p>
    {% endif %}
</section>
<hr class="my-4 text-white">

{% if user.is_superuser %}
<div class="text-center container text-white">
    <h3 class="fw-light">
        Общая информация по Командам на {{current_date}} года. <!-- Добавить информацию по какому Отделу информация -->
    </h3>
</div>
<section class="py-3 text-center container text-white">
    <div class="d-flex justify-content-center gap-3">
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">2015
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">2016
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">2017
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">2018
            </a>
        </div>
    </div>
</section>
<hr class="my-4 text-white">
{% endif %}

<section class="py-5 text-center container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center"> <!--  -->
    {% if user.is_authenticated %}
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="#" role="button">Личный кабинет
        </a>
    </div>
    {% if user.is_superuser %}
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'admin:index' %}" role="button">Войти в административную часть сайта
        </a>
    </div>
    {% endif %}
    <div class="col">
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success w-100" style="text-align: center" role="button">Выход
            </button>
        </form>
    </div>
    {% else %}
    <div class="col">
        <a class="btn btn-success w-50" style="text-align: center"
           href="{% url 'users:login' %}" role="button">Вход на сайт
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-50" style="text-align: center"
           href="{% url 'users:register' %}" role="button">Зарегистрироваться на сайте
        </a>
    </div>
    {% endif %}

</div>
</section>
<hr class="my-4 text-white">

{% endblock %}
